In [ ]:
!pip install openpyxl pandas xlrd

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (2.0.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import openpyxl
workbook = openpyxl.load_workbook('Retailer_Costco.xlsx')
workbook

In [7]:
sheet_names = workbook.sheetnames
print(sheet_names)

['Data']

In [9]:
sheet = workbook[sheet_names[0]]

for row in sheet.iter_rows(max_row=5,values_only=True):
    print(row)

('Retailer', 'Contact', 'Retailer ID', 'Order Date', 'Payment Date', 'Region--State', 'Beverage Brand', 'Price per Unit', 'Units Sold')
('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 2, 19, 0, 0), 'West--California', 'Coca-Cola', 0.39999999999999997, 7750)
('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 3, 26, 0, 0), 'West--California', 'Diet Coke', 0.5, 7750)
('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 3, 26, 0, 0), 'West--California', 'Sprite', 0.5, 7750)
('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 2, 26, 0, 0), 'West--California', 'Fanta', 0.5, 6250)

In [10]:
data = list(sheet.iter_rows(values_only=True))

header = data[0]
data = data[1:]

print(header)
print(data)

('Retailer', 'Contact', 'Retailer ID', 'Order Date', 'Payment Date', 'Region--State', 'Beverage Brand', 'Price per Unit', 'Units Sold')
[('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 2, 19, 0, 0), 'West--California', 'Coca-Cola', 0.39999999999999997, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 3, 26, 0, 0), 'West--California', 'Diet Coke', 0.5, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 3, 26, 0, 0), 'West--California', 'Sprite', 0.5, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 2, 26, 0, 0), 'West--California', 'Fanta', 0.5, 6250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 2, 19, 0, 0), 'West--California', 'Powerade', 0.55, 5750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 1, 20, 0, 0), datetime.datetime(2022, 2, 19, 0, 0), 'West--California', 'Dasani Water', 0.5, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 2, 20, 0, 0), datetime.datetime(2022, 3, 22, 0, 0), 'West--California', 'Coca-Cola', 0.39999999999999997, 8250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 2, 20, 0, 0), datetime.datetime(2022, 3, 22, 0, 0), 'West--California', 'Diet Coke', 0.5, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 2, 20, 0, 0), datetime.datetime(2022, 3, 22, 0, 0), 'West--California', 'Sprite', 0.5, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 2, 20, 0, 0), datetime.datetime(2022, 3, 22, 0, 0), 'West--California', 'Fanta', 0.5, 5750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 2, 20, 0, 0), datetime.datetime(2022, 3, 25, 0, 0), 'West--California', 'Powerade', 0.55, 5000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 2, 20, 0, 0), datetime.datetime(2022, 3, 22, 0, 0), 'West--California', 'Dasani Water', 0.5, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 3, 19, 0, 0), datetime.datetime(2022, 4, 18, 0, 0), 'West--California', 'Coca-Cola', 0.5, 8500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 3, 19, 0, 0), datetime.datetime(2022, 4, 18, 0, 0), 'West--California', 'Diet Coke', 0.6, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 3, 19, 0, 0), datetime.datetime(2022, 4, 18, 0, 0), 'West--California', 'Sprite', 0.6, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 3, 19, 0, 0), datetime.datetime(2022, 4, 18, 0, 0), 'West--California', 'Fanta', 0.6, 6000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 3, 19, 0, 0), datetime.datetime(2022, 4, 18, 0, 0), 'West--California', 'Powerade', 0.65, 5000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 3, 19, 0, 0), datetime.datetime(2022, 4, 18, 0, 0), 'West--California', 'Dasani Water', 0.6, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 4, 20, 0, 0), datetime.datetime(2022, 5, 20, 0, 0), 'West--California', 'Coca-Cola', 0.6, 8750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 4, 20, 0, 0), datetime.datetime(2022, 5, 20, 0, 0), 'West--California', 'Diet Coke', 0.65, 6750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 4, 20, 0, 0), datetime.datetime(2022, 5, 20, 0, 0), 'West--California', 'Sprite', 0.65, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 4, 20, 0, 0), datetime.datetime(2022, 5, 20, 0, 0), 'West--California', 'Fanta', 0.6, 6250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 4, 20, 0, 0), datetime.datetime(2022, 5, 20, 0, 0), 'West--California', 'Powerade', 0.65, 5250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 4, 20, 0, 0), datetime.datetime(2022, 5, 20, 0, 0), 'West--California', 'Dasani Water', 0.8, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 5, 21, 0, 0), datetime.datetime(2022, 6, 20, 0, 0), 'West--California', 'Coca-Cola', 0.6, 9000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 5, 21, 0, 0), datetime.datetime(2022, 6, 20, 0, 0), 'West--California', 'Diet Coke', 0.65, 7500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 5, 21, 0, 0), datetime.datetime(2022, 6, 20, 0, 0), 'West--California', 'Sprite', 0.65, 7500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 5, 21, 0, 0), datetime.datetime(2022, 6, 20, 0, 0), 'West--California', 'Fanta', 0.6, 6500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 5, 21, 0, 0), datetime.datetime(2022, 6, 20, 0, 0), 'West--California', 'Powerade', 0.65, 5500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 5, 21, 0, 0), datetime.datetime(2022, 6, 20, 0, 0), 'West--California', 'Dasani Water', 0.8, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 6, 20, 0, 0), datetime.datetime(2022, 7, 20, 0, 0), 'West--California', 'Coca-Cola', 0.6, 9750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 6, 20, 0, 0), datetime.datetime(2022, 7, 20, 0, 0), 'West--California', 'Diet Coke', 0.65, 8250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 6, 20, 0, 0), datetime.datetime(2022, 7, 20, 0, 0), 'West--California', 'Sprite', 0.65, 8250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 6, 20, 0, 0), datetime.datetime(2022, 7, 20, 0, 0), 'West--California', 'Fanta', 0.6, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 6, 20, 0, 0), datetime.datetime(2022, 7, 20, 0, 0), 'West--California', 'Powerade', 0.65, 5750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 6, 20, 0, 0), datetime.datetime(2022, 7, 20, 0, 0), 'West--California', 'Dasani Water', 0.8, 8750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 7, 19, 0, 0), datetime.datetime(2022, 8, 18, 0, 0), 'West--California', 'Coca-Cola', 0.6, 10250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 7, 19, 0, 0), datetime.datetime(2022, 8, 18, 0, 0), 'West--California', 'Diet Coke', 0.65, 8750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 7, 19, 0, 0), datetime.datetime(2022, 8, 18, 0, 0), 'West--California', 'Sprite', 0.65, 8250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 7, 19, 0, 0), datetime.datetime(2022, 8, 18, 0, 0), 'West--California', 'Fanta', 0.6, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 7, 19, 0, 0), datetime.datetime(2022, 8, 18, 0, 0), 'West--California', 'Powerade', 0.65, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 7, 19, 0, 0), datetime.datetime(2022, 8, 18, 0, 0), 'West--California', 'Dasani Water', 0.8, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 8, 20, 0, 0), datetime.datetime(2022, 9, 19, 0, 0), 'West--California', 'Coca-Cola', 0.65, 9750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 8, 20, 0, 0), datetime.datetime(2022, 9, 19, 0, 0), 'West--California', 'Diet Coke', 0.7000000000000001, 9250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 8, 20, 0, 0), datetime.datetime(2022, 9, 19, 0, 0), 'West--California', 'Sprite', 0.65, 8000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 8, 20, 0, 0), datetime.datetime(2022, 9, 19, 0, 0), 'West--California', 'Fanta', 0.65, 7500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 8, 20, 0, 0), datetime.datetime(2022, 9, 19, 0, 0), 'West--California', 'Powerade', 0.75, 7500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 8, 20, 0, 0), datetime.datetime(2022, 9, 19, 0, 0), 'West--California', 'Dasani Water', 0.8, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 9, 21, 0, 0), datetime.datetime(2022, 10, 21, 0, 0), 'West--California', 'Coca-Cola', 0.55, 9250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 9, 21, 0, 0), datetime.datetime(2022, 10, 21, 0, 0), 'West--California', 'Diet Coke', 0.6000000000000001, 9250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 9, 21, 0, 0), datetime.datetime(2022, 10, 21, 0, 0), 'West--California', 'Sprite', 0.55, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 9, 21, 0, 0), datetime.datetime(2022, 10, 21, 0, 0), 'West--California', 'Fanta', 0.55, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 9, 21, 0, 0), datetime.datetime(2022, 10, 21, 0, 0), 'West--California', 'Powerade', 0.65, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 9, 21, 0, 0), datetime.datetime(2022, 10, 21, 0, 0), 'West--California', 'Dasani Water', 0.7000000000000001, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 10, 20, 0, 0), datetime.datetime(2022, 11, 19, 0, 0), 'West--California', 'Coca-Cola', 0.55, 8750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 10, 20, 0, 0), datetime.datetime(2022, 11, 19, 0, 0), 'West--California', 'Diet Coke', 0.6000000000000001, 8750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 10, 20, 0, 0), datetime.datetime(2022, 11, 19, 0, 0), 'West--California', 'Sprite', 0.55, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 10, 20, 0, 0), datetime.datetime(2022, 11, 19, 0, 0), 'West--California', 'Fanta', 0.55, 6750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 10, 20, 0, 0), datetime.datetime(2022, 11, 19, 0, 0), 'West--California', 'Powerade', 0.65, 6500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 10, 20, 0, 0), datetime.datetime(2022, 11, 19, 0, 0), 'West--California', 'Dasani Water', 0.7000000000000001, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 11, 20, 0, 0), datetime.datetime(2022, 12, 20, 0, 0), 'West--California', 'Coca-Cola', 0.55, 8750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 11, 20, 0, 0), datetime.datetime(2022, 12, 20, 0, 0), 'West--California', 'Diet Coke', 0.6000000000000001, 8750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 11, 20, 0, 0), datetime.datetime(2022, 12, 20, 0, 0), 'West--California', 'Sprite', 0.55, 7250), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 11, 20, 0, 0), datetime.datetime(2022, 12, 20, 0, 0), 'West--California', 'Fanta', 0.55, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 11, 20, 0, 0), datetime.datetime(2022, 12, 20, 0, 0), 'West--California', 'Powerade', 0.65, 6500), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 11, 20, 0, 0), datetime.datetime(2022, 12, 20, 0, 0), 'West--California', 'Dasani Water', 0.7000000000000001, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 12, 19, 0, 0), datetime.datetime(2023, 1, 18, 0, 0), 'West--California', 'Coca-Cola', 0.55, 9750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 12, 19, 0, 0), datetime.datetime(2023, 1, 18, 0, 0), 'West--California', 'Diet Coke', 0.6000000000000001, 9750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 12, 19, 0, 0), datetime.datetime(2023, 1, 18, 0, 0), 'West--California', 'Sprite', 0.55, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 12, 19, 0, 0), datetime.datetime(2023, 1, 18, 0, 0), 'West--California', 'Fanta', 0.55, 7750), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 12, 19, 0, 0), datetime.datetime(2023, 1, 18, 0, 0), 'West--California', 'Powerade', 0.65, 7000), ('Costco', 'Ana -Costco', 1128299, datetime.datetime(2022, 12, 19, 0, 0), datetime.datetime(2023, 1, 18, 0, 0), 'West--California', 'Dasani Water', 0.7000000000000001, 8000)]

In [11]:
df = pd.DataFrame(data, columns=header)
print(df.head())

  Retailer      Contact  Retailer ID Order Date Payment Date  \
0   Costco  Ana -Costco      1128299 2022-01-20   2022-02-19
1   Costco  Ana -Costco      1128299 2022-01-20   2022-03-26
2   Costco  Ana -Costco      1128299 2022-01-20   2022-03-26
3   Costco  Ana -Costco      1128299 2022-01-20   2022-02-26
4   Costco  Ana -Costco      1128299 2022-01-20   2022-02-19

      Region--State Beverage Brand  Price per Unit  Units Sold
0  West--California      Coca-Cola            0.40        7750
1  West--California      Diet Coke            0.50        7750
2  West--California         Sprite            0.50        7750
3  West--California          Fanta            0.50        6250
4  West--California       Powerade            0.55        5750

In [12]:
df = pd.read_excel('Retailer_Costco.xlsx')
print(df.head())

  Retailer      Contact  Retailer ID Order Date Payment Date  \
0   Costco  Ana -Costco      1128299 2022-01-20   2022-02-19
1   Costco  Ana -Costco      1128299 2022-01-20   2022-03-26
2   Costco  Ana -Costco      1128299 2022-01-20   2022-03-26
3   Costco  Ana -Costco      1128299 2022-01-20   2022-02-26
4   Costco  Ana -Costco      1128299 2022-01-20   2022-02-19

      Region--State Beverage Brand  Price per Unit  Units Sold
0  West--California      Coca-Cola            0.40        7750
1  West--California      Diet Coke            0.50        7750
2  West--California         Sprite            0.50        7750
3  West--California          Fanta            0.50        6250
4  West--California       Powerade            0.55        5750

In [13]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32]}
df = pd.DataFrame(data)

# Writing the DataFrame to an Excel file
df.to_excel('output_file.xlsx', index=False)

In [6]:
import pandas as pd
df = pd.read_excel('Retailer_Costco.xlsx')
print(df.head())

  Retailer      Contact  Retailer ID Order Date Payment Date  \
0   Costco  Ana -Costco      1128299 2022-01-20   2022-02-19
1   Costco  Ana -Costco      1128299 2022-01-20   2022-03-26
2   Costco  Ana -Costco      1128299 2022-01-20   2022-03-26
3   Costco  Ana -Costco      1128299 2022-01-20   2022-02-26
4   Costco  Ana -Costco      1128299 2022-01-20   2022-02-19

      Region--State Beverage Brand  Price per Unit  Units Sold
0  West--California      Coca-Cola            0.40        7750
1  West--California      Diet Coke            0.50        7750
2  West--California         Sprite            0.50        7750
3  West--California          Fanta            0.50        6250
4  West--California       Powerade            0.55        5750

In [20]:
from openpyxl import Workbook
from openpyxl.styles import Font

# Creating a new Excel workbook and sheet
wb = Workbook()
ws = wb.active

# Automate data entry
data = [
    ['Name', 'Age'],
    ['John', 28],
    ['Anna', 24],
    ['Peter', 35],
    ['Linda', 32]
]

for row in data:
    ws.append(row)

# Automate formatting
for cell in ws[1]:
    cell.font = Font(bold=True)

# Saving the workbook
wb.save('automated_task.xlsx')

In [ ]:
from openpyxl import Workbook
from openpyxl.styles import Font

# Creating a new Excel workbook and sheet
wb = Workbook()
ws = wb.active

# Automate data entry
data = [
    ['Name', 'Age'],
    ['John', 28],
    ['Anna', 24],
    ['Peter', 35],
    ['Linda', 32]
]

for row in data:
    ws.append(row)

# Automate formatting
for cell in ws["1:1"]:
    cell.font = Font(bold=True)

# Saving the workbook
wb.save('automated_task.xlsx')

In [24]:
from openpyxl import Workbook
from openpyxl.styles import Font, PatternFill

# Create a new workbook and select the active worksheet
wb = Workbook()
ws = wb.active


data = [
    ['Product', 'Price', 'Units Sold'],
    ['Apple', 1.2, 10],
    ['Banana', 0.8, 15],
    ['Cherry', 2.5, 4]
]

for row in data:
  ws.append(row)

for row in ws.iter_rows(min_row=2, max_row = ws.max_row, min_col=1, max_col=3):
  total_sales = row[1].value * row[2].value
  ws.cell(row = row[0].row, column=4, value=total_sales)

ws.cell(row=1, column=4, value="Total Sales")

for cell in ws[1]:
  cell.font=Font(bold=True)

for row in ws.iter_rows(min_row=2, max_row=ws.max_row, min_col=1, max_col=4):
  if row[3].value>10:
    for cell in row:
      cell.font=Font(bold=True)
      cell.fill=PatternFill(start_color="FFFF00", end_color="FFFF00", fill_type="solid")


wb.save('sales.xlsx')

In [25]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Font, PatternFill

# Define the initial data
data = {
    'Product': ['Apple', 'Banana', 'Cherry'],
    'Price': [1.2, 0.8, 2.5],
    'Units Sold': [10, 15, 4]
}

# Create a DataFrame and calculate Total Sales
df = pd.DataFrame(data)
df['Total Sales'] = df['Price'] * df['Units Sold']

# Save the DataFrame to an Excel file
df.to_excel('formatted_products.xlsx', index=False)

# Load the workbook with openpyxl
wb = load_workbook('formatted_products.xlsx')
ws = wb.active

# Apply bold formatting to the header row (the first row)
for cell in ws[1]:
    cell.font = Font(bold=True)

# Define a fill for highlighting
highlight_fill = PatternFill(start_color="FFFF00", end_color="FFFF00", fill_type="solid")

# Bolden and highlight rows where total sales are above 10
for row in ws.iter_rows(min_row=2, max_row=ws.max_row, min_col=1, max_col=ws.max_column):
    if row[3].value > 10:  # Check the 'Total Sales' column
        for cell in row:
            cell.font = Font(bold=True)
            cell.fill = highlight_fill

# Save the workbook to a file named formatted_products.xlsx
wb.save('formatted_products.xlsx')

In [29]:
from openpyxl import Workbook

# Create a new workbook
wb = Workbook()

# Get the active worksheet and rename it
ws1 = wb.active
ws1.title = "DataSheet"

# Add a new worksheet with a specific title
ws2 = wb.create_sheet(title="SummarySheet")

# Insert headers and data into "DataSheet"
ws1['A1'] = 'Name'
ws1['B1'] = 'Age'
ws1['A2'] = 'Alice'
ws1['B2'] = 30
ws1['A3'] = 'Bob'
ws1['B3'] = 25
ws1['D1'] = 25
from openpyxl.styles import PatternFill, Alignment

# Merge cells B1 to D1
ws1.merge_cells('B1:D1')


# Center-align the text in the merged cell
ws1['B1'].alignment = Alignment(horizontal='left', vertical='center')

# Create a blue fill pattern
fill = PatternFill(start_color="FF224677", end_color="FF224677", fill_type="solid")
ws1['B1'].fill = fill

# Save the workbook
wb.save('merged_header.xlsx')