In [5]:
import pandas as pd

mental_health_depression_disorder_data = pd.read_csv('/Users/ilyagelfgat/Documents/DI_Bootcamp/Week5/Day1/XP/Mental_health_Depression_disorder_Data.csv')
time_americans_spend_sleeping = pd.read_csv('/Users/ilyagelfgat/Documents/DI_Bootcamp/Week5/Day1/XP/Time_Americans_Spend_Sleeping.csv')
credit_card_approvals_clean_dataset = pd.read_csv('/Users/ilyagelfgat/Documents/DI_Bootcamp/Week5/Day1/XP/archive/clean_dataset.csv')
credit_card_approvals_crx = pd.read_csv('/Users/ilyagelfgat/Documents/DI_Bootcamp/Week5/Day1/XP/archive/crx.csv')

/var/folders/8h/hbj9kb412sz4vmszf826vrrc0000gn/T/ipykernel_24733/2540598441.py:3: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  mental_health_depression_disorder_data = pd.read_csv('/Users/ilyagelfgat/Documents/DI_Bootcamp/Week5/Day1/XP/Mental_health_Depression_disorder_Data.csv')

In [16]:
print("Shows the entity and which percentage of the entity has certain medical problem")
print(mental_health_depression_disorder_data.head())

Shows the enity and which percentage of the enity has certain medical problem
   index       Entity Code  Year Schizophrenia (%) Bipolar disorder (%)  \
0      0  Afghanistan  AFG  1990           0.16056             0.697779
1      1  Afghanistan  AFG  1991          0.160312             0.697961
2      2  Afghanistan  AFG  1992          0.160135             0.698107
3      3  Afghanistan  AFG  1993          0.160037             0.698257
4      4  Afghanistan  AFG  1994          0.160022             0.698469

  Eating disorders (%)  Anxiety disorders (%)  Drug use disorders (%)  \
0             0.101855               4.828830                1.677082
1             0.099313               4.829740                1.684746
2             0.096692               4.831108                1.694334
3             0.094336               4.830864                1.705320
4             0.092439               4.829423                1.716069

   Depression (%)  Alcohol use disorders (%)
0        4.071831                   0.672404
1        4.079531                   0.671768
2        4.088358                   0.670644
3        4.096190                   0.669738
4        4.099582                   0.669260

Ex 3:
Entity and Code columns - qualitative, because this is not numerical data. Other columns quantitative(numerical)

In [41]:
print("Show how many time americans spend for sleeping") 
print(time_americans_spend_sleeping.head())

Show how many time americans spend for sleeping
   index  Year  Period  Avg hrs per day sleeping  Standard Error Type of Days  \
0      0  2003  Annual                      8.57           0.018     All days
1      1  2004  Annual                      8.55           0.026     All days
2      2  2005  Annual                      8.62           0.023     All days
3      3  2006  Annual                      8.63           0.024     All days
4      4  2007  Annual                      8.57           0.024     All days

           Age Group  Activity   Sex
0  15 years and over  Sleeping  Both
1  15 years and over  Sleeping  Both
2  15 years and over  Sleeping  Both
3  15 years and over  Sleeping  Both
4  15 years and over  Sleeping  Both

Ex. 3
Period, Type of days, age group, activity, Sex columns - qualitative, because this is not numerical data. Other columns quantitative(numerical)

In [10]:
print("Credit card approvals statistic") 
print(credit_card_approvals_clean_dataset.head())

Brief:
Credit card approvals statistic
   Gender    Age   Debt  Married  BankCustomer     Industry Ethnicity  \
0       1  30.83  0.000        1             1  Industrials     White
1       0  58.67  4.460        1             1    Materials     Black
2       0  24.50  0.500        1             1    Materials     Black
3       1  27.83  1.540        1             1  Industrials     White
4       1  20.17  5.625        1             1  Industrials     White

   YearsEmployed  PriorDefault  Employed  CreditScore  DriversLicense  \
0           1.25             1         1            1               0
1           3.04             1         1            6               0
2           1.50             1         0            0               0
3           3.75             1         1            5               1
4           1.71             1         0            0               0

        Citizen  ZipCode  Income  Approved
0       ByBirth      202       0         1
1       ByBirth       43     560         1
2       ByBirth      280     824         1
3       ByBirth      100       3         1
4  ByOtherMeans      120       0         1

Ex. 3
Industry, Ethnicity, Citizen columns - qualitative, because this is not numerical data. Other columns quantitative(numerical)

In [12]:
credit_card_approvals_crx.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  +
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g  00043  560  +
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  00280  824  +
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  00100    3  +
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  00120    0  +
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  00360    0  +

Ex. 3
b, u, g, w, v, t, t.1, f, g.1, + columns - qualitative, because this is not numerical data. Other columns quantitative(numerical)

In [27]:
import os
import shutil
import stat
# Step 1: Ensure the .kaggle directory exists
os.makedirs(os.path.expanduser('~/.kaggle'), exist_ok=True)
# Step 2: Move kaggle.json to the .kaggle directory if it exists in the current directory
if os.path.exists('kaggle.json'):
    shutil.move('kaggle.json', os.path.expanduser('~/.kaggle/kaggle.json'))
# Step 3: Set the permissions
kaggle_json_path = os.path.expanduser('~/.kaggle/kaggle.json')
os.chmod(kaggle_json_path, stat.S_IRUSR | stat.S_IWUSR)
# Step 4: Install Kaggle API (if not already installed)
os.system('pip install kaggle')
# Step 5: Download the Iris dataset
os.system('kaggle datasets download -d saurabh00007/iriscsv')
# Step 6: Unzip the data
shutil.unpack_archive('iriscsv.zip', 'iris_data')
# Step 7: Load the dataset into a DataFrame
import pandas as pd
df = pd.read_csv('iris_data/Iris.csv')
print(df.head())

Requirement already satisfied: kaggle in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from kaggle) (2024.6.2)
Requirement already satisfied: python-dateutil in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/ilyagelfgat/Documents/DI_Bootcamp/Week3/Day4/my_postgres/lib/python3.11/site-packages (from requests->kaggle) (3.7)

[notice] A new release of pip is available: 23.1.2 -> 24.1.1
[notice] To update, run: pip install --upgrade pip

Dataset URL: https://www.kaggle.com/datasets/saurabh00007/iriscsv
License(s): CC0-1.0
iriscsv.zip: Skipping, found more recently modified local copy (use --force to force download)
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Species column is qualitative, because this is not numerical data. Other columns quantitative(numerical)

In [30]:
df.groupby('Species').mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244
Iris-versicolor,75.5,5.936,2.770,4.260,1.326
Iris-virginica,125.5,6.588,2.974,5.552,2.026

In [32]:
df.groupby('Species').median()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.0,3.4,1.50,0.2
Iris-versicolor,75.5,5.9,2.8,4.35,1.3
Iris-virginica,125.5,6.5,3.0,5.55,2.0

In [40]:
print(df['SepalLengthCm'].mode())
print(df['SepalWidthCm'].mode())
print(df['PetalLengthCm'].mode())
print(df['PetalWidthCm'].mode())

0    5.0
Name: SepalLengthCm, dtype: float64
0    3.0
Name: SepalWidthCm, dtype: float64
0    1.5
Name: PetalLengthCm, dtype: float64
0    0.2
Name: PetalWidthCm, dtype: float64

In [29]:
print(time_americans_spend_sleeping.head())

   index  Year  Period  Avg hrs per day sleeping  Standard Error Type of Days  \
0      0  2003  Annual                      8.57           0.018     All days
1      1  2004  Annual                      8.55           0.026     All days
2      2  2005  Annual                      8.62           0.023     All days
3      3  2006  Annual                      8.63           0.024     All days
4      4  2007  Annual                      8.57           0.024     All days

           Age Group  Activity   Sex
0  15 years and over  Sleeping  Both
1  15 years and over  Sleeping  Both
2  15 years and over  Sleeping  Both
3  15 years and over  Sleeping  Both
4  15 years and over  Sleeping  Both

Ex 6: Identify columns that could be interesting for a specific type of analysis (e.g., trend analysis, group comparison) and explain your choice.
Year, Avg hrs per day sleeping, standart error, age group and sex can be intersting for a specific type of analysis because contatins unique information for this analysys